/* основной цвет текста color:#757575; */
/* вспомагательный цвет текста color: #212121; */
/* цвет текста на кнопках color: #FFFFFF; */
/* цвет текста для hover и фокуса color: #2196F3; */
/* цвет кнопок в портфолио color: #F5F4FA */
/* цвет футера color: #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --portfolio-bg-color: #f5f4fa;
  --footer-color: #2f303a;
  --clients-color: #afb1b8;
  --element-color: #eeeeee;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1230px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* logo */
.logo {
  display: block;
  margin-right: 85px;

  font-family: Raleway, sans-serif;
  color: var(--title-text-color);
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo > .element {
  color: var(--accent-color);
}
.logo__footer {
  margin-bottom: 8px;
  margin-right: 0;
  padding: 0;

  color: var(--primary-bg-color);
}
/* page-header */
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Site-nav */
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav .item {
  position: relative;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  padding-top: 30px;
  padding-bottom: 30px;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* cont-nav */
.cont-nav img {
  display: inline;
}
.cont-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.cont-nav .item:not(:last-child) {
  margin-right: 30px;
}
.cont-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}
.cont-nav .link:hover,
.cont-nav .link:focus {
  color: var(--accent-color);
}
/* Icon */
.icon {
  fill: var(--primary-bg-color);
}
.cont-nav__icon {
  padding: 0;
  margin: 0;
  fill: var(--primary-text-color);
}
.cont-nav .link:hover .cont-nav__icon,
.cont-nav .link:focus .cont-nav__icon {
  fill: var(--accent-color);
}
/* Hero */
.hero {
  position: relative;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Section */
.section {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section:nth-child(2) {
  padding-bottom: 0;
}
.section:nth-child(4) {
  background-color: var(--portfolio-bg-color);
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.section .title {
  margin-top: 0;
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Features */
.feature-list {
  display: flex;
  justify-content: space-between;
}
.feature-list .item {
  width: 270px;
}
.feature-list .item::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--portfolio-bg-color);
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
.antenna::before {
  background-image: url("../images/vector1.svg");
}
.clock::before {
  background-image: url("../images/vector2.svg");
}
.diagram::before {
  background-image: url("../images/vector3.svg");
}
.astronaut::before {
  background-image: url("../images/vector4.svg");
}
.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
}
.feature-list p {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

/* Work */
.work {
  display: flex;
  justify-content: space-between;
}
.work .item {
  position: relative;
  width: 370px;
}
.work .title {
  position: absolute;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  background: rgba(47, 48, 58, 0.8);
}

/* Button */
.button {
  display: inline-block;
  font-family: inherit;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.02em;

  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  cursor: pointer;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.button.primary {
  color: var(--title-text-color);
  background-color: var(--portfolio-bg-color);

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  padding: 5px 21px;
  min-width: 73px;
}
.button.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px 10px 29px;
}
.button.secondary::after {
  content: "";
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin-top: 0;
  margin-left: 10px;
  background-image: url("../images/iconsend.svg");
}
.button.primary:hover,
.button.primary:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
/* Team */
.team {
  display: flex;
  justify-content: space-between;
}
.team > .card {
  width: 270px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg-color);
}
.team-img {
  margin-top: 0;
  margin-bottom: 30px;
}
.team-special {
  margin-top: 0;
  text-align: center;
}
.team-title {
  margin-top: 0;
  margin-bottom: 10px;

  text-align: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* social */
.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: auto;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;

  transition: border-radius 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.social-link .icon {
  fill: var(--clients-color);

  transition: fill 250ms var(--timing-function);
}
.social-link:hover,
.social-link:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
}
.social-link:hover .icon,
.social-link:focus .icon {
  fill: var(--primary-bg-color);
}
/* Clients */
.clients {
  display: flex;
  justify-content: space-between;
}
.clients > .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--clients-color);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms var(--timing-function);
}
.clients > .item .icon {
  fill: var(--clients-color);

  transition: fill 250ms var(--timing-function);
}
.clients > .item:hover,
.clients > .item:focus {
  border: 1px solid var(--accent-color);
}
.clients > .item:hover .icon,
.clients > .item:focus .icon {
  fill: var(--accent-color);
}
/* Portfolio */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter > .item + .item {
  margin-left: 8px;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
}
.portfolio > .element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background: var(--primary-bg-color);
  border: 1px solid var(--element-color);

  transition: box-shadow 250ms var(--timing-function);
}
.portfolio > .element:nth-child(3n) {
  margin-right: 0;
}
.portfolio > .element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio > .element:hover,
.portfolio > .element:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.portfolio .link {
  text-decoration: none;
}
.thumb {
  position: relative;
  overflow: hidden;
}
.thumb::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(+100%);

  transition: transform 500ms var(--timing-function);
}
.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, +100%);
  margin-top: 0;
  margin-bottom: 0;

  width: 322px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-bg-color);

  transition: transform 500ms var(--timing-function);
}
.portfolio > .element:hover .description,
.portfolio > .element:focus .description {
  transform: translate(-50%, -50%);
}
.portfolio > .element:hover .thumb::before,
.portfolio > .element:focus .thumb::before {
  transform: translateY(0);
}
.project-title {
  padding: 24px 20px;
  background: var(--primary-bg-color);
  border: 1px solid var(--element-color);
}
.portfolio .title {
  margin: 0;

  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}
.portfolio .text {
  margin: 0;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* Footer */
.footer {
  padding-top: 45px;
  color: var(--primary-bg-color);
  background-color: var(--footer-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address {
  margin-right: 69px;
}
.page-footer {
  display: flex;
  align-items: baseline;
}
.footer .title {
  font-weight: 700;
  text-transform: uppercase;
}
.join {
  margin-top: 0;
}
.join-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.join-item:not(:last-child) {
  margin-right: 10px;
}
.join-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;

  transition: background-color 250ms var(--timing-function);
}
.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}
.join p {
  margin-top: 0;
  margin-bottom: 20px;
}
.sign {
  margin-left: auto;
}
.sign > .title {
  margin-top: 0;
}
.footer .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.copyright {
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;
}
/* sign-form */
.sign-form {
  display: flex;
  align-items: center;
}
.sign-form input {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 581px;
  min-width: 528px;
  padding: 40px;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;

  background-color: var(--primary-bg-color);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms var(--timing-function);
}
/* modal-form */
.modal-form {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
/* modal-button */
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  content: "";
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: var(--primary-bg-color);
}
.modal-button:hover,
.modal-button:focus {
  cursor: pointer;
}
/* modal-icon */
.modal-icon {
  fill: var(--title-text-color);
  transition: fill 250ms var(--timing-function);
}
.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  fill: var(--accent-color);
}
/* modal-title */
.modal-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
/* form-field */
.form-field {
  display: block;
  position: relative;
  margin-top: 0;
  margin-bottom: 28px;
}
.form-input {
  width: 448px;
  height: 40px;

  padding: 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms var(--timing-function);
}
.form-input:hover + .form-label,
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translate(-25px, -35px);

  font-size: 12px;
  line-height: 1.16;

  color: var(--accent-color);
}
/* modal-svg */
.modal-svg {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);
  transition: transform 250ms var(--timing-function);

  fill: var(--title-text-color);
}
.form-input:hover ~ .modal-svg,
.form-input:focus ~ .modal-svg,
.form-input:not(:placeholder-shown) ~ .modal-svg {
  fill: var(--accent-color);
}
/* modal-link */
.modal-link {
  color: var(--accent-color);
}
/* comment */
.comment-field {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}
.comment {
  resize: none;

  width: 448px;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
.comment-label {
  position: absolute;
  top: 13px;
  left: 17px;
  transition: transform 250ms var(--timing-function);
}
.comment:hover + .comment-label,
.comment:focus + .comment-label,
.comment:not(:placeholder-shown) + .comment-label {
  transform: translateY(-30px);

  font-size: 12px;
  line-height: 1.16;

  color: var(--accent-color);
}
/* checkbox */
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: relative;
}
.check-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: transform 250ms var(--timing-function);
}
.checkbox:checked + .check-svg {
  content: "";

  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;

  border-radius: 2px;
  border-color: transparent;

  fill: var(--accent-color);
  background-color: #2196f3;
}
